
body{
margin:0px;
padding:0px;
}

#container{
background:url('App_Themes/YekaTheme/images/background.jpg') repeat-x  ;
 float:left;
width:100%;
}


 




.iqBodyBoxBlock
{
	background-color:#e8f6fc;
}

.iqHeaderBoxBlock
{
	background-color:#f2f2f2;
}






.iqQuestion
{
	font-size:13pt;
	font-weight:bold;
	margin: 5pt 0in; 
}

.iqAnswer
{
	font-size: 10pt; font-family: Verdana;
}
.wrapper{
width:1002px;
margin:0 auto; background-color:Black;
}

.footer_wrapper{
width:1002px;
margin:0 auto;
 

}



.header{
height:198px;
width:100%;margin:0 auto; background-color:Black;

}

.logo_strip{
background: url('App_Themes/YekaTheme/images/logo_strip.jpg') no-repeat;
height:109px;
width:1002px;
}

.toplink{
width:1002px;
float:right;
margin-top:35px;
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;

}

.toplink1{
width:1002px;
float:right;
margin-bottom:5px;
margin-top:24px;
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;

}


.img{
float:right;
margin-right:5px;
}

.img1{
float:left;
}

.img2{
float:left;
margin-right:10px; 
}

.img8{
float:left;
margin-right:10px; 
}
.img3{
float:left;
margin-left:3px;
}

.img4{
float:left;
margin:0px 0px 20px 0px;
}

.img5{
float:left;
background:url('App_Themes/YekaTheme/images/seperator.jpg') no-repeat left 50%;
padding:17px;
text-align:center;
 text-decoration:underline;
}

.img6{
float:right;
margin-top:10px;
}

.white_link{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
margin:0px 5px;
}



.nav_strip{  
/*background: url(App_Themes/YekaTheme/images/nav_strip.jpg) no-repeat;
*/height:47px;
width:1002px;
}

.secondnav_strip{
/*background: url('App_Themes/YekaTheme/images/secondnav_bg.jpg') no-repeat;*/
height:42px;
width:1002px;
}

.secondnav_strip ul{
margin:0px;
padding:10px 0px 0px 0px;
list-style:none; 
}

.secondnav_strip ul li{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
text-decoration:none;
font-weight:bold;
float:left;
background:url('App_Themes/YekaTheme/images/nav_seperator.jpg') no-repeat right 50%;
padding:0px 20px;
}
  
.secondnav_strip ul li a{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
text-decoration:none;
font-weight:bold; 
 
 /* text-shadow: #ffffff 1px 1px 1px;  */
float:left;
}






.body{
width:1002;
float:left;
background:#FFFFFF;
}

.body_partone{ 
background:#FFFFFF;
width:982px;
padding:10px  ;
float:left;

}


.normaltext_bold{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#404040;
text-decoration:none;
font-weight:bold;
}



.red_normaltext_bold{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#eb0201;
text-decoration:none;
font-weight:bold;
}

.red_normaltext_bold a span 
{bottom:0px;margin-bottom:0px;position:relative;
	 text-decoration:underline;
	}

.red_normaltext_bold a:hoover
{
	 text-decoration:underline;
	}

 /* .body_partone_2{
width:270px;
float:left;
margin:0px 30px 0px 40px;
} 



.body_partone_3{
width:266px;
float:right;
}


.body_partone_1 
{border-bottom:20px;
width:350px;
float:left;
}
.body_partone_inner {
	background:#FFFFFF; 
	width:936px;
	padding:21px 28px 0 28px;
	float:left;
	margin-right: 3px;
}
*/



.body_partone_1 
{border-bottom:20px;
width:450px;
float:left;
}

.body_partone_2{
width:442px;
float:left;
margin:0px 30px 0px 40px;
}



.body_partone_3{
width:366px;   margin-bottom:0;
float:left;
}

.body_partone_inner {
	background:#FFFFFF; 
	width:1936px;
	padding:21px 28px 0 28px;
	float:left;
	margin-right: 3px;
}












.headingone{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#404040;
text-decoration:none;
font-weight:normal;
font-size: 15pt; font-weight:bold;
}










.watchbox
{
height: 82px;
float:left; 
border-bottom:1px solid #cbcbcb;
border-top:1px solid #cbcbcb;
border-collapse:collapse;
padding:10px 0px;
}



.body_parttwo{
background:#580000 url(images/bodyseperator.jpg) no-repeat top;
	width:982px;
	float:left;
	padding:0px 10px;
}


.body_parttwoH{
background:#580000 url('App_Themes/YekaTheme/images/bodyseperator.jpg') no-repeat 50% top;
width:975px;
float:left;
padding:0px 10px;
}


.body_parttwo_one{
width:640px;
float:left;
padding:0px 10px;
margin-top:40px;

}

.body_parttwo_two{
width:280px;
float:right;
padding:0px ;
margin-top:40px;
}









#footer{
background:url('App_Themes/YekaTheme/images/footerbg.jpg') repeat-x;
float:left;
width:100%;
}
 .footer_container{
background: url('App_Themes/YekaTheme/images/footer.jpg') no-repeat left top;
height:280px;
width:1002px;
margin:0 auto;
padding:40px 0px 0px 0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#bcbcbc;color:#FFFFFF;
text-decoration:none;
font-weight:normal;
} 

 
 

.white_heading{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
text-decoration:none;
font-weight:bold;
margin-right:20px;
margin-left:10px;
}

.boxcontain{ 
width:1002px;
height:132px;
float:left;
}

.box{
background:url('App_Themes/YekaTheme/images/box.jpg') no-repeat;
width:172px;
height:102px;
float:left;
margin:3px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#989898;
text-decoration:none;
font-weight:normal;
padding:20px 10px 10px 10px;
}

.box_one{
background:url('App_Themes/YekaTheme/images/box.jpg') no-repeat;
width:172px;
height:102px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#989898;
text-decoration:none;
font-weight:normal;
padding:20px 10px 10px 10px;
}












.greytext{  
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
font-weight:bold;
} 

/*
.greytext{  
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#e1e1e1;
text-decoration:none;
font-weight:bold;
}*/



.redtext{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#d01515;
text-decoration:none;
font-weight:bold;
}

.footernav{
width:515px;
text-align:right;
float:right;
margin-top:50px;
}

.footernav ul{
margin:0px;
padding:0px;
list-style:none;
}

.footernav ul li{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7f7f7f;
text-decoration:none;
font-weight:normal;
float:left;
}

.footernav ul li .lastone{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7f7f7f;
text-decoration:none;
font-weight:normal;
float:left;
padding:0px 10px;
border-right:none;
}

.footernav ul li .lastone a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7f7f7f;
text-decoration:none;
font-weight:normal;
float:left;
padding:0px 10px;
border-right:none;
}

.footernav ul li a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7f7f7f;
text-decoration:none;
font-weight:normal;
border-right:1px solid #7f7f7f;
float:left;
padding:0px 10px;
}

.footernav ul li a:hover{position:relative;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ff2c24;
text-decoration:none;
font-weight:normal;
}

.copyright{
width:982px;
text-align:right;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#525252;
text-decoration:none;
font-weight:normal;
margin-top:10px;
padding-right:15px;
}

.box1{
width:270px;
height:200px;
float:left;
}

.box1_one{
width:180px;
float:left;
}

.box1_two{
width:180px;
float:left;
}

.day{
background:url('App_Themes/YekaTheme/images/daybg.jpg') no-repeat;
width:228px;
height:93px;
float:left;
margin:10px 0px;
padding:20px 20px;
text-align:center;
}

.time_big
{ font-weight:400 ; 
	font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
text-decoration:none;
}
.time_small
{ font-weight:bolder; 
	font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
	
}
.heading_small{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
text-decoration:none;
font-weight:normal;
}

.heading{
font-family:Arial, Helvetica, sans-serif;
font-size:28px;
color:#000000;
text-decoration:none;
font-weight:normal;
}

.heading_grey{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#4e4e4e;
text-decoration:none;
font-weight:normal;
}

.heading_red{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#cb0000;
text-decoration:none;
font-weight:normal;
}

.iconbg{
background: url('App_Themes/YekaTheme/images/facebookbg.jpg') no-repeat;
width:228px;
float:left;
margin:10px 0px;
padding:10px 20px;
text-align:center;
}

.smallbox{
width:110px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#424242;
   cursor:auto;
font-weight:normal;
margin-bottom:10px;
margin-top:10px;   padding-left:4px; text-align:left;
}

.smallbox  a:hover
{
	color:#42ffcc;
	 text-decoration:underline;
	}

.greybox{
background:url('App_Themes/YekaTheme/images/boxbg.jpg') repeat-y;
width:266px;
float:left;
}

.greyboxtop{
background: url('App_Themes/YekaTheme/images/boxtop.jpg') no-repeat 50% top;
width:266px;
float:left;
height:39px;
}

.greyboxtopmid{  
background:url('App_Themes/YekaTheme/images/boxback.jpg') no-repeat;
width:266px; 
float:left;
padding:10px 20px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#272727;
text-decoration:none;
font-weight:bold;
}

.greyboxbottom{
background: url('App_Themes/YekaTheme/images/boxbottom.jpg') no-repeat 50% bottom;
width:266px;
float:left;
height:14px;
}

.textwatch{
float:left;
width:240px;
}


.white_heading{
background:url('images/arrow.jpg') no-repeat left 50%;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#ffffff;
text-decoration:none;
font-weight:normal;
padding:10px 20px;
margin:0px 20px;
}

.greyboxseperator{
background: url('App_Themes/YekaTheme/images/dottedseperator.jpg') no-repeat 50% bottom;
width:222px;
float:left;left:0px; margin-left:15px; padding-left:30px;
height:1px;
margin:10px 0px;
}

.whitebox{
background:url('App_Themes/YekaTheme/images/whitebox_bg.jpg') repeat-y;
width:266px;
float:left;
margin-top:20px;
}

.whiteboxtop{
background: url('App_Themes/YekaTheme/images/boxtop.jpg') no-repeat 50% top;
width:266px;
float:left;
height:39px;
}

.whiteboxmid{ position:relative; left:0px;   
width:200px;
float:left;
padding:10px 20px; padding-left:-10px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#272727;
text-decoration:none;
font-weight:bold;
}

.whiteboxbottom{
background:url('App_Themes/YekaTheme/images/whitebox_bottom.jpg') no-repeat 50% bottom;
width:266px;
float:left;
height:14px;
}

.logo1{
background: url('App_Themes/YekaTheme/images/logo1.jpg') no-repeat left 50%;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#434343;
text-decoration:none;
font-weight:bold;
padding:15px 20px 15px 200px;
border-top:1px solid #dbdbdb;
border-collapse:collapse;
}

.logo2{
background: url('App_Themes/YekaTheme/images/logo2.jpg') no-repeat left 50%;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#434343;
text-decoration:none;
font-weight:bold;
padding:15px 20px 15px 200px;
border-top:1px solid #dbdbdb;
border-bottom:1px solid #dbdbdb;
border-collapse:collapse;
}

.blacktab_contain{
width:630px;
float:left;
margin:0px;
}

.blackbox{top:0px; vertical-align:-20px;
background: url('App_Themes/YekaTheme/images/blackbox.jpg');
width:570px;
height:600px;
overflow:hidden;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
padding:50px 30px;
line-height:18px;
}

.blackbox a{color:red;}


.greycontain{   
background: url('App_Themes/YekaTheme/images/greybg.jpg') no-repeat;
width:630px; z-index:900;
height:123px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
font-weight:normal;
padding:10px 10px;
}

.subscribe{
background:
url('App_Themes/YekaTheme/images/subscribe.jpg') no-repeat;
float:left;
padding:15px 10px 5px 10px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#ffffff;
text-decoration:none;
font-weight:bold;
width:261px;
margin-top:10px;
height:75px;
}

.field{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#000000;
text-decoration:none;
font-weight:normal;
float:left;
margin:15px 5px;
}

.button{
float:left;
margin:15px 0px;
}

.commnets{
background:url('App_Themes/YekaTheme/images/commnetbg.jpg') repeat-y;
float:left;
width:281px;
}

.commnetstop{
background: url('App_Themes/YekaTheme/images/commnettop.jpg') no-repeat 50% top;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#000000;
text-decoration:none;
font-weight:bold;
width:261px;
height:34px;
padding:10px 10px 0px 10px;
}

.commnetsmid{
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
text-decoration:none;
font-weight:normal; 
width:221px;
padding:10px 30px 10px 30px;

}

.commnetsbottom{ background: url('App_Themes/YekaTheme/images/commnetbottom.jpg') no-repeat 50% bottom;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
text-decoration:none;
font-weight:bold;
width:281px;
height:20px;
}

.small_text{  
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
text-decoration:underline;
font-weight:normal;
float:right;
}



/*               About Us Css           */

.body_partone_inner p{
 color:#3c3c3c;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 margin:0;
 padding:0 0 14px 0;
 line-height:19px;
}
.body_partone_inner h1{
 color:#3c3c3c;
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 margin:0;
 padding:0;
 background:url(images/body_partone_bg.gif) no-repeat left top;
 height:50px;
 font-weight:normal;
}
.body_partone_inner h2{
 color:#000000;
 font-family:Arial, Helvetica, sans-serif;
 font-size:13px;
 font-weight:bold;
 margin:0;
 padding:0;
}
.body_sep{
background:url(images/sep_content.gif) repeat-x top left;
height:22px;
}

/* Contact Us Css */
.body_contact_left{
 width:466px;
 padding:0 30px 0 0;
 margin:0;
 float:left;
}

.body_contact_left p{
 padding:0;
 margin:0 0 12px 0;
 color:#3c3c3c;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
 line-height:19px;
 }
.body_contact_left h3{
  font-family:Arial, Helvetica, sans-serif;
   color:#3c3c3c;
   margin:0;
   padding:0 0 15px 0;
   font-size:13px;
   font-weight:bold;
} 

.body_contact_left p a{
text-decoration:underline;
color:#df0000;
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight:bold;
}

.body_contact_left p a:hover{
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
}

.body_contact_form{
 width:378px;
 padding:12px 30px 50px 30px;
 margin:0;
 float:left;
 border:1px solid #eeeeee;
 background:#f5f5f5;
}
.body_contact_form h2{
 color:#3c3c3c;
 font-size:15px;
 margin:0;
 padding:0 0 12px 0;
 font-family:Arial, Helvetica, sans-serif;
}
.body_contact_form p{
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
 padding:0 0 15px 0;
 color:#dd0000;
}
.body_contact_form p span{
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
 padding:0;
 color:#dd0000;
}
form{
 margin:0;
 padding:0;
}
.form_table{
 width:378px;
 margin:0;
 padding:0;
}

.form_table_row{
 width:378px;
 margin:0;
 padding:0;
}
.form_table_row1{
 width:86px;
 padding:0;
 margin:0;
 float:left;
}
.form_table_row1 p{
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 padding:0;
 margin:0;
 font-size:12px;
}
.form_table_sep p{
 margin:0;
 padding:0;
 height:8px;
 clear:both;
}

.form_table_row2{
 width:292px;
 padding:0;
 margin:0;
 float:left;
}

.form_table_row2 input{
 width:281px;
 padding:0;
 margin:0;
 border:1px solid #d1d1d1;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px; 
}

.form_table_row2 select{
 padding:0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px;
}

.form_table_row2 textarea{
 padding:0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px;
}
.form_table_button{
 width:293px;
 margin:0;
 padding:10px 0 0 85px;
 float:left;
}

.form_table_button1{
 margin:0;
 padding:0 0 0 0px;
 float:left;

}
.form_table_button1{
 margin:0;
 padding:0;
 float:left;
}



/* Contact Us Css */
.body_contact_left{
 width:466px;
 padding:0 30px 0 0;
 margin:0;
 float:left;
}

.body_contact_left p{
 padding:0;
 margin:0 0 12px 0;
 color:#3c3c3c;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
 line-height:19px;
 }
.body_contact_left h3{
  font-family:Arial, Helvetica, sans-serif;
   color:#3c3c3c;
   margin:0;
   padding:0 0 15px 0;
   font-size:13px;
   font-weight:bold;
} 

.body_contact_left p a{
text-decoration:underline;
color:#df0000;
 font-size:14px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight:bold;
}

.body_contact_left p a:hover{
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
}

.body_contact_form{
 width:378px;
 padding:12px 30px 50px 30px;
 margin:0;
 float:left;
 border:1px solid #eeeeee;
 background:#f5f5f5;
}
.body_contact_form h2{
 color:#3c3c3c;
 font-size:15px;
 margin:0;
 padding:0 0 12px 0;
 font-family:Arial, Helvetica, sans-serif;
}
.body_contact_form p{
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
 padding:0 0 15px 0;
 color:#dd0000;
}
.body_contact_form p span{
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
 padding:0;
 color:#dd0000;
}
form{
 margin:0;
 padding:0;
}
.form_table{
 width:378px;
 margin:0;
 padding:0;
}

.form_table_row{
 width:378px;
 margin:0;
 padding:0;
}
.form_table_row1{
 width:86px;
 padding:0;
 margin:0;
 float:left;
}
.form_table_row1 p{
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 padding:0;
 margin:0;
 font-size:12px;
}
.form_table_sep p{
 margin:0;
 padding:0;
 height:8px;
 clear:both;
}

.form_table_row2{
 width:292px;
 padding:0;
 margin:0;
 float:left;
}

.form_table_row2 input{
 width:281px;
 padding:0;
 margin:0;
 border:1px solid #d1d1d1;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px; 
}

.form_table_row2 select{
 padding:0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px;
}

.form_table_row2 textarea{
 padding:0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px;
}
.form_table_button{
 width:293px;
 margin:0;
 padding:10px 0 0 85px;
 float:left;
}

.form_table_button1{
 margin:0;
 padding:0 0 0 0px;
 float:left;

}
.form_table_button1{
 margin:0;
 padding:0;
 float:left;
}

/*      Confirm your Order         */   
#confirm_form{
 width:648px;
 margin:0;
 padding:0;
 float:left;
}
.confirm_form_top{
 width:583px;
 margin:0;
 padding:15px 0 0 25px;
 float:left;
 background: url(images/order_form_bg1.gif) no-repeat top;
 height:30px; 
}
.confirm_form_top p{
 color:#343434;
 font-size:17px;
 margin:0;
 padding:0;
 font-family:Arial, Helvetica, sans-serif;
 text-transform:uppercase;
 font-weight:bold;
}
.img8{
 margin:0px 0 0px 0;
}

.login_form{
 width:583px;
 margin:0;
 padding:9px 0 0 25px;
 float:left;
 background: url(images/login_bg.gif) no-repeat top;
 height:33px; 
}
.login_form p{
 font-family:Arial, Helvetica, sans-serif;
 font-weight:bold;
 margin:0;
 padding:0px 5px 0px 0;
 font-size:13px;
 color:#7a7a7a;
}
.login_form input{
 font-family:Arial, Helvetica, sans-serif;
 color:#7c4747;
 font-size:12px;
 margin:0;
 padding:1px 0 2px 0;
 border:1px solid #d8d8d8;
 width:125px;
}
.paybtg_form{
 width:583px;
 margin:0;
 padding:18px 0 25px 25px;
 float:left;
 background: url(images/pay_bg.gif) no-repeat top;
}
.paybtg_form_bottom{
 width:608px;
 margin:0;
 float:left;
 background: url(images/bottom.gif) no-repeat top;
 height:5px;
}
.paybtg_form h2{
 font-family:Arial, Helvetica, sans-serif;
 font-weight:bold;
 margin:0;
 padding:0px 5px 13px 0;
 font-size:15px;
 color:#575757;
 text-transform:uppercase;
}
.form_table_pay{
 width:583px;
 margin:0;
 padding:0;
}


.form_table_row_pay{
 width:583px;
 margin:0;
 padding:0;
 float:left;
}
.form_table_pay_row1{
 width:120px;
 padding:0;
 margin:0;
 float:left;
}
.form_table_pay_row1 p{
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 padding:0;
 margin:0;
 font-size:13px;
}
.form_table_paysep p{
 margin:0;
 padding:0;
 height:8px;
 clear:both;
}
.form_table_paysep1 p{
 margin:0;
 padding:0;
 height:15px;
 clear:both;
}

.form_table_pay_row2{
 width:463px;
 padding:0;
 margin:0;
 float:left;
}


.form_table_pay_row2 input{
 width:281px;
 padding:1px 0 2px 0;
 margin:0;
 border:1px solid #d1d1d1;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px; 
}
.form_table_pay_row3 input{
 padding:1px 0 2px 0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px; 
}
.form_table_pay_row2 select{
 padding:0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px;
}

.form_table_pay_row2 textarea{
 padding:0;
 margin:0;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px;
}


.form_table_pay_row4{
 width:300px;
 padding:0;
 margin:0;
 float:left;
}
.form_table_pay_row4 input{
 width:281px;
 padding:1px 0 2px 0;
 margin:0;
 border:1px solid #d1d1d1;
 font-family:Arial, Helvetica, sans-serif;
 color:#3f3f3f;
 font-size:11px; 

}
.form_table_pay_row4 p{
 padding:0;
 margin:0;
 
}
.form_table_pay_row5{
 width:163px;
 padding:0;
 margin:0;
 float:left;
}
.form_table_pay_row5 p{
 
 padding:0;
 margin:0;
 
}

.form_table_pay_row6{
 width:400px;
 padding:0;
 margin:0 0 20px 0;
 float:left;
}

.form_table_pay_row6 p{
 padding:0;
 margin:0 0 20px 0; 
}
.form_table_pay_row6 img{
 margin:0 30px 0 10px;
}


#your_order{
 width:285px;
 margin:0;
 padding:0;
 float:left;
}
.order_heading{
 width:260px;
 margin:0;
 padding:15px 0 0 25px;
 float:left;
 background: url(images/order_bg.gif) no-repeat top;
 height:30px;
}

.order_heading p{
 color:#343434;
 font-size:17px;
 margin:0;
 padding:0;
 font-family:Arial, Helvetica, sans-serif;
 text-transform:uppercase;
 font-weight:bold;
}
.product1{
 background: url(images/product_bg.gif) no-repeat top;
 float:left;
 margin:0;
 padding:22px 21px 30px 22px;
 float:left;
 width:242px;
}
.product1 p{
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
 padding:0 0 0px 0;
 font-size:13px;
}
.product1 h2{
 font-family:Arial, Helvetica, sans-serif;
 text-transform:uppercase;
 font-weight:bold;
 margin:0;
 padding:7px 0 12px 0;
 font-size:13px;
}
.img7{
 float:left;
 margin:0 18px 0 0;
 max-width:80px; border-left:3px;
}

.product2{
 background: url(images/product_bg_02.gif) no-repeat top;
 float:left;
 margin:0;
 padding:22px 21px 30px 22px;
 float:left;
 width:242px;
}
.product2 p{
 font-family:Arial, Helvetica, sans-serif;
 margin:0;
 padding:0 0 0px 0;
 font-size:13px;
}
.product2 h2{
 font-family:Arial, Helvetica, sans-serif;
 text-transform:uppercase;
 font-weight:bold;
 margin:0;
 padding:7px 0 12px 0;
 font-size:13px;
}

.order_total{
 background: url(images/order_total_bg.gif) no-repeat top;
 float:left;
 margin:0;
 padding:12px 21px 0px 22px;
 float:left;
 height:25px;
 width:242px;
}
.order_total p{
 font-family:Arial, Helvetica, sans-serif;
 text-transform:uppercase; display:inline;
 font-weight:bold;
 margin:0;
 padding:0px 0 0px 0;
 font-size:8px;
}

.order_ftotal  {
  
 font-size:13px;

}

.coupon_total{
 background: url(images/coupon_bg.gif)  no-repeat top;
 float:left;
 margin:0;
 padding:14px 21px 0px 22px;
 float:left;
 height:173px;
 width:242px;
}
.coupon_total p{
 font-family:Arial, Helvetica, sans-serif;
 text-transform:uppercase;
 font-weight:bold;
 margin:0;
 padding:0px 0 0px 0;
 font-size:15px;
 text-decoration:underline;
}
.coupon_total input{
 font-family:Arial, Helvetica, sans-serif;
 color:#7c4747;
 font-size:12px;
 margin:0;
 padding:1px 0 2px 0;
 border:1px solid #d8d8d8;
 width:200px;
}
.ProgressIndicator
{
  background-color: #FFFFFF;
  background-image: url('../../controls/lightbox/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  opacity:0.5;filter:alpha(opacity=50);
}

/*      Confirm your Order         */




.clear{clear:both;}




